---

# Devoir 1 Python for Data Science 2021

---

## EXERCICE 1

**Question 1**. Commencer par importer pandas et numpy en utilisant la convention:

In [15]:
import pandas as pd
import numpy as np

**Question 2**. Maintenant charger le fichier `input/automobile_data.csv` dans le **DataFrame** `cars_df` et afficher les 10 première lignes:

In [16]:
card_df= pd.read_csv('/home/dev-diop221/Documents/pythonDS2021/Devoir 01/src/input/devoir_data.csv')

**Question 3**. Afficher les 8 dernières du `DataFrame`.

In [17]:
card_df.tail(8)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,197,-1,74.0,volvo,gas,std,four,wagon,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,24,28,16515.0
198,198,-2,103.0,volvo,gas,turbo,four,sedan,rwd,front,...,130,mpfi,3.62,3.15,7.5,162.0,5100.0,17,22,18420.0
199,199,-1,74.0,volvo,gas,turbo,four,wagon,rwd,front,...,130,mpfi,3.62,3.15,7.5,162.0,5100.0,17,22,18950.0
200,200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

**Question 4**. Donner le nombre de lignes et de colonnes de ce Dataframe.

In [ ]:
# Ce DataFrame contient 8 lignes et 27 colonnes

**Question 5**. Récupérez le nombre d'entrées non nulles par colonne. La colonne `price` contient-elle des valeurs nulles?

In [18]:
card_df = pd.DataFrame( columns = ["price"])
print(card_df.head(2))

Empty DataFrame
Columns: [price]
Index: []

**Question 6**. Sélectionnez maintenant toutes les lignes avec une valeur dans la colonne 'price', et stockons-les dans un nouveau DataFrame appelé `cars_with_price_df`.

Quel est le `shape` de ce nouveau DataFrame? Confirmez votre réponse en utilisant le résultat précédent.

In [25]:
card_df['price']

Series([], Name: price, dtype: object)

**Question 7**. Combien de `constructeurs(make)` distincts existe-il dans le jeu de données?

In [ ]:
# Ecrire le code ici

**Question 8**. Affichez tous les constructeurs qui ont publié plus de 10 modèles. Enregistrez ces résultats dans une nouvelle variable `big_makers`.

In [ ]:
# Ecrire le code ici

**Question 9**. Récupérez les statistiques suivantes:
- la voiture avec la puissance(horsepower) maximale
- la voiture avec la longueur(length) minimale
- la moyenne de la largeur(width) des voitures

In [ ]:
# Ecrire le code ici

## EXERCICE 2: 

Ecrivez une fonction appelée **isprime** qui prend un entier positif N et détermine s'il est premier ou non. Renvoie le N s'il est premier et rien si ce n'est pas le cas.

Ensuite, en utilisant une **list comprehension** et la fonction **isprime**, créez une liste **myprimes** qui contient tous les nombres premiers inférieurs à 100.

In [32]:
def isprime(n):
    if n % 2 is not True:
        return "error"
    if n or not n:
        return str(n) + ' n\'est pas premier'
        #pas de print dans une fonction, c'est que j'ai appris
    else:
        for i in range(2, n + 1):
            
 
n = int(input('Entrez une valeur pour N :'))
alors = isprime(n)
while alors == "error":
        n = int (input ('Entrez une valeur pour N :') )
        alors = isprime(n)
print(alors)
    for i in range(3,101):
        isprime=0
        for j in range(2,i):
            if i%j==0:
                isprime=1
                if isprime==0
                print(i)

IndentationError: expected an indented block (<ipython-input-32-13d38876b7fa>, line 11)

## EXERCICE 3 : Vrai ou Faux
- Python est un langage compilé
- les listes sont modifiable contrairement aux tuples
- Data Science produit de la connaissance à partir des données
- DataFrame peux-etre vu comme une table sur excel

In [ ]:
1-Faux
2-Vrai
3-Vrai
4-Vrai